/*******general*******/
*{
    font-family: 'Roboto', sans-serif; 
}


.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999;
    opacity: 0.8;
    animation: progress-bar 3000ms;
    visibility: hidden;

}
  
.rubik-loader{
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(http://i.giphy.com/3og0ISeflb7vrNzy2A.gif);
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes progress-bar {
    0%{
        visibility: visible;
  
    }
    100%{
        visibility: hidden;
        
    }
    
}


a{
    text-decoration: none;
}

footer h2{
    font-family: 'Shrikhand', cursive;
}


:root{
    --main-bt-color: #9356DC;
    --main-color-new: #99E2D0;    
}
.main-contenair{
    width: 100%;
    box-sizing: border-box;
    max-width: 1440px;
}


/******Header*******/
header{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: white;
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

}
header img{
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

/****************main***************/

.location{
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
    height: 50px;
}
.i-loc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ville{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reservation{
    text-align: center;
    background-color: #F7F7F7 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;

}
.reservation h2{
    font-size: 25px;
    padding: 0px 20px 0px 20px;
    
}
.explo{
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    width: 60%;
    height: 50px;
    border-radius: 40px;
    white-space: nowrap;
    color: white;
    border: none ;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin-top: 30px;
}
.explo:hover{
    opacity: 0.9;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}
.fonctionnement{
    padding-bottom: 50px;
}
.fonctionnement h2{
    margin: 40px 0px 20px 0px
}
.choix{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F9F6 ;
    height: 72.38px;
    width: 90%;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 15px;
    border: #F8F9F6;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.chiffre{
    width: 25px;
    height: 25px;
    font-size: 14.18px;
    border-radius: 50%;
    background-color: #9356DC;
    color: white;
    position: absolute;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone{
    padding-right: 30px;
}
.boutik{
    color: #9356DC;
}
.restaurant{
    background-color: #F8F9F6;
    padding-top: 20px;
}
.allcartes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;
}
.onlyheart{
    font-size: 20px;
    position: relative;
    width: 20px;
    height: 20px;

}
.heart__icon--empty{
    position: absolute;
    top: 15px; right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    font-size: 25px;
    color: black;
    font-weight: 100;
}

.my-heart-full{
        position: absolute;
        top: 15px; right: 15px;
        opacity: 0;
        background: linear-gradient(#FF79DA, #9356DC);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: all 400ms;
        transition-duration: 2s;
        margin-right: 16px;
        font-size: 25px;
}
.my-heart-full:hover{
        opacity: 1;
}
.heart__icon--empty:hover {
        opacity: 0;
}

.carte{
    width: 95%;
    height: 251px;
    background-color: #F7F7F7;
    border-radius: 15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-top: 33px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.carte img{
    width: 100%;
    height: 65%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.new{
    color: #008766;
    background-color: #99E2D0;
    width: 80px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 600;
    font-size: 14px;
}
.cart-content{
    display: flex;
    justify-content: space-between;
}

.cart-text{
    text-decoration: none;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 10px ;
    color: black;
}

.cart-text h3{
    margin:10px 0px 5px 0px;
}
footer{
    background-color: rgb(66, 65, 65);
    color: white;
    padding-left: 25px;
}
footer h2{
    padding-top: 15px;
    margin-top: 0px;
}
.foot{
    display: flex;
    flex-direction: column;
    Padding: 22px, 25px, 22px, 25px;
            
}
.choice{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
}
footer .footer__choice{
    font-weight: 500;
}

@media screen and (min-width: 1200px) {
        .reservation h2{
            font-size: 40px;
            font-weight: 700;
            height: 47px;
        }
        .explo{
            width: 17%;
        }

        .fonctionnement {
            margin: 0% 10% 0% 10%;
        }

        .choix{
            width: 30%;
            margin-left: 0px;
        }
        .fonction{
            display: flex;
            justify-content: space-between;
        }
        .restaurant{
            margin: 0% 15% 0% 15%;
        }
        .allcartes{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .carte{
            width: 48%;
        }
        .foot{
            display: flex;
            justify-content: end;
            flex-direction: row;
            margin-bottom: 20px;
        }
        footer{
            display: flex;
            flex-direction: row-reverse;
            align-items: end;
            height: 114px;
        }
        footer h2{
            margin-bottom: 28px;
            font-size: 18px;
            font-weight: 400;
        }
        .choice{
            margin-right: 15px;
            font-size: 16px;
            font-weight: 400;
        }
    
    }